/* buttons font 1 */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap");

/* FitMe font  */
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

/* font 2 on the button */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

/* description font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}
.welcome_body,
.login_body,
.signup_body {
  overflow: hidden;
}

.main {
  background-color: black;
  align-items: center;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 300px;
}
header {
  background-image: url(images/risen-wang-20jX9b35r_M-unsplash.jpg);
  height: 110vh;
  background-size: cover;
  background-position: center;
}
.title {
  padding-top: 50px;
  color: white;
  font-family: "Comforter", cursive;
  font-size: 180px;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  text-align: center;
  border-color: black;
}
.button_container {
  padding: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_btn,
.signup_btn {
  /* font-family: "IBM Plex Sans Thai Looped", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 60px;
  color: black;
  border-radius: 12%;
  transition: ease-out 0.3s;
}

.login_btn:hover,
.signup_btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(140, 140, 145);
}

.description {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  background-color: black;
  background-position: center;
  background-size: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 65px;
}

/* login.html and signup.html */

.login_title,
.signup_title {
  color: white;
  font-weight: bolder;
  margin-left: 150px;
  margin-right: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: -20px;
}
.login_title {
  margin-bottom: 20px;
}
/* form */
form {
  color: white;
  font-size: 20px;
  padding: 20px;
  align-items: center;
  height: 10uh;
  margin-top: -10px;
}
/* form's inputs */
input {
  width: 200px;
  height: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border-radius: 5%;
}
/* grey signup and login button */
.login_btn2,
.signup_btn2 {
  font-family: "Open Sans", sans-serif;
  background: rgb(70, 70, 73);
  font-size: 15px;
  text-align: center;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 9%;
  transition: ease-out 0.3s;
}
/* grey signup button */
.signup_btn2 {
  margin-top: 5px;
}
.back_btn {
  font-family: "Open Sans", sans-serif;
  background: rgb(70, 70, 73);
  font-size: 15px;
  text-align: center;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 9%;
  transition: ease-out 0.3s;
  margin-left: -100;
}

.login_btn2:hover,
.signup_btn2:hover,
.back_btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(139, 139, 150);
}
.return_login {
  font-family: "Open Sans", sans-serif;
  background: rgb(70, 70, 73);
  font-size: 15px;
  text-align: center;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 5%;
  transition: ease-out 0.3s;
  margin-top: 220px;
}
.return_signup {
  font-family: "Open Sans", sans-serif;
  background: rgb(70, 70, 73);
  font-size: 15px;
  text-align: center;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 5%;
  transition: ease-out 0.3s;
  margin-top: 40px;
}
.return:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(139, 139, 150);
}
.textbox {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border-radius: 5%;
  min-width: 200px;
  min-height: 100px;
  max-width: 200px;
  max-height: 100px;
}
.insert_calories {
  width: 200px;
  height: 200px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border-radius: 5%;
  text-align: center;
}
.track_msg {
  color: white;
  font-weight: bolder;
  margin-left: 170px;
  margin-right: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}
.cal_intake_btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 23px;
  text-align: center;
  width: 200px;
  height: 100px;
  color: rgb(0, 0, 0);
  border-radius: 9%;
  transition: ease-out 0.3s;
  border-color: rgb(46, 66, 110);
  border-width: 10px;
}
table {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  margin-left: 150;
  margin-right: 150;
  align-items: center;
}
